Diagnostics:
    ClangTidy:
        Add: '*'
        Remove:
            - abseil-*
            - android-*
            - boost-*
            - cert-*
            - fuchsia-*
            - llvm-*
            - llvmlibc-*
            - mpi-*
            - objc-*
            - openmp-*
            - zircon-*'
